* {
    box-sizing: border-box;
}

body {
    background-color: silver;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif; */
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 60px;
    margin-top: 80px;
    letter-spacing: 5px;
}

h2 {
    color: white;
}

.strong {
    font-weight: 700;
}

.header-wrapper {
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 300px;
    /* fix path later */
    background-image: url("header.jpg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    border-bottom: 3px solid white;
}

.footer-wrapper {
    height: 60px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: white;
}

.card {
    margin: 30px auto;
    width: 500px;
    height: auto;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 60px;
    background-color: rgb(109, 204, 204);
    box-shadow: 5px 5px rgba(0, 0, 0, .25), 10px 10px 40px rgba(0, 0, 0, .20) inset;
}