* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif; */
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 80px;
    letter-spacing: 5px;
    background-color: rgba(0, 0, 0, .20);
    border-radius: 5px;
}

h2 {
    color: black;
    margin-top: -5px;
    font-size: 2.5rem;
    font-weight: 900;
}

h2.h2-posts {
    color: black;
    background-color: rgba(255, 255, 255, .5);
    padding: 5px;
    margin-top: -5px;
    font-size: 2.5rem;
    font-weight: 900;
}

h3 {
    color: black;
    font-size: 2rem;
    font-weight: 900;
}

p.p-bg {
    background-color: rgba(255, 255, 255, .25);
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, .20);
    -webkit-transition: all 0.3s ease;
    transition: all 0.5s ease;
}

a:visited {
    color: white;
}

.span-strong {
    font-weight: 900;
}

.mystyle {
    color: red;
}

.txt-cont {
    height: 145px;
    overflow: hidden;
}

.white-p {
    color: white;
    font-weight: 700;
}

.ingress {
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}

.img-posts {
    height: 400px;
    width: 300px;
    float: right;
    margin-left: 30px;
    margin-top: -5px;
    border: 10px solid white;
}

.img-posts-large {
    height: 350px;
    width: 300px;
    float: right;
    margin-bottom: 20px;
    margin-left: 30px;
    border: 10px solid white;
}

.img-posts-large-2 {
    height: 350px;
    width: 300px;
    float: left;
    margin-bottom: 20px;
    margin-right: 30px;
    border: 10px solid white;
}

.img-about {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid white;
}

.header-wrapper {
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 300px;
    /* fix path later */
    background-image: url("header.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, .50) inset;
    /* Resize the background image to cover the entire container */
}

.soc-media {
    position: relative;
    font-size: 2rem;
    letter-spacing: 15px;
    margin-left: 10px;
    top: -260px;
    color: white;
}

.main-nav {
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 50px;
    padding-left: 70px;
    color: white;
    background-color: darkslategrey;
    border-top: 2px solid rgba(255, 255, 255, .15);
    border-bottom: 3px solid black;
}

.nav-items {
    padding-left: 20px;
}

.nav-items-no {
    padding-left: 20px;
    text-decoration: line-through;
    color: silver;
}

.card {
    margin: 30px auto;
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 60px;
    background-color: rgb(164, 206, 206);
    box-shadow: 5px 5px rgba(0, 0, 0, .45), 10px 10px 40px rgba(0, 0, 0, .20) inset;
}

.wrapper-card {
    display: flex;
    margin: 30px auto;
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 60px;
    background-color: rgb(164, 206, 206);
    box-shadow: 5px 5px rgba(0, 0, 0, .45), 10px 10px 40px rgba(0, 0, 0, .20) inset;
}

.wrapper-card-img {
    overflow: hidden;
    margin: 30px auto;
    width: 80%;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 60px;
    background-color: rgb(164, 206, 206);
    box-shadow: 5px 5px rgba(0, 0, 0, .45), 10px 10px 40px rgba(0, 0, 0, .20) inset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-img-flex {
    width: 25%;
    padding: 20px;
    justify-content: space-between;
    align-items: space-between;
}

.myWrapper {
    position: absolute;
}

.open-img {
    position: relative;
    left: 250px;
    top: 100px;
    border-radius: 5px;
    border: 1px solid;
    width: 35%;
    z-index: 1000;
}

.close-but {
    position: absolute;
    font-size: 2.2rem;
    padding: 5px;
    left: 580px;
    top: 110px;
    z-index: 1000;
}

.my-but {
    font-size: 1rem;
    border: 1px solid silver;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
}

.card-img {
    width: 95%;
    border: 5px solid white;
}

.card-img:hover {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: .65;
}

.wrapper-post {
    display: flex;
    flex-direction: column;
}

.about-txt {
    margin-left: 30px;
}

.comments {
    background-color: rgb(80, 139, 139);
    color: white;
    padding: 10px;
}

.footer-wrapper {
    height: 80px;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px;
    background-color: silver;
    text-align: center;
}

article {
    justify-content: center;
    justify-items: center;
    padding: 20px;
    width: 600px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, .5);
    border: 1px solid pink;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

button.theHeart {
    font-size: 1.6rem;
    border: 1 px solid black;
    border-radius: 50%;
    background-color: silver;
}

span {
    position: relative;
    top: 2px;
    margin: 0;
    padding: 0px;
}

.theDate {
    text-align: right;
}

.noLikes {
    position: relative;
    left: 4px;
}

textarea {
    font-size: 1.5rem;
    height: 250px;
    width: 600px;
    border-radius: 7px;
    resize: none;
}

input {
    font-size: 1.5rem;
    width: 300px;
    resize: none;
}

button.theSubmit {
    padding: 9px;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    border: 1 px solid black;
    border-radius: 15px;
    background-color: darkslategrey;
}

#showImg {
    position: absolute;
    visibility: hidden;
    top: 500px;
    left: 400px;
    width: 400px;
    height: 400px;
}

@media (max-width: 600px) {
    h1 {
        color: white;
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
        padding: 10px;
        margin-left: 20px;
        margin-top: 40px;
        letter-spacing: 5px;
        background-color: rgba(0, 0, 0, .20);
    }
    h2 {
        color: black;
        margin-top: -5px;
        font-size: 2rem;
        font-weight: 900;
    }
    h3 {
        color: black;
        margin-top: -5px;
        font-size: 1.8rem;
        font-weight: 900;
    }
    textarea {
        font-size: 1.5rem;
        height: 180px;
        width: 100%;
        border-radius: 7px;
        resize: none;
    }
    .wrapper-card {
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        width: 80%;
        height: auto;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px;
        background-color: rgb(164, 206, 206);
        box-shadow: 5px 5px rgba(0, 0, 0, .45), 10px 10px 40px rgba(0, 0, 0, .20) inset;
    }
    .card {
        margin: 30px auto;
        width: 80%;
        height: auto;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px;
        background-color: rgb(164, 206, 206);
        box-shadow: 5px 5px rgba(0, 0, 0, .45), 10px 10px 40px rgba(0, 0, 0, .20) inset;
    }
    .img-posts {
        height: 0;
        float: none;
        visibility: hidden;
        overflow: hidden;
        margin-left: 0;
        border: none;
        padding: 0;
        margin: 0;
        border: 1px solid red;
    }
    .img-posts-large {
        height: 250px;
        width: 200px;
        float: none;
        margin-bottom: 20px;
        margin-left: 0;
        border: 10px solid white;
    }
    .img-posts-large-2 {
        height: 250px;
        width: 200px;
        float: none;
        margin-bottom: 20px;
        margin-right: 0;
        border: 10px solid white;
    }
    .header-wrapper {
        margin: 0;
        padding: 20px;
        width: 100%;
        height: 250px;
        /* fix path later */
        background-image: url("header.png");
        background-position: left;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        /* Resize the background image to cover the entire container */
    }
    .soc-media {
        position: relative;
        font-size: 2rem;
        letter-spacing: 15px;
        margin-left: 10px;
        top: 0px;
        color: white;
    }
    .main-nav {
        visibility: hidden;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        padding-left: 0px;
    }
    .img-empty {
        height: 0;
    }
}