* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif; */
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-left: 60px;
    margin-top: 80px;
    letter-spacing: 5px;
    background-color: rgba(0, 0, 0, .20);
}

h2 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, .20);
    -webkit-transition: all 0.3s ease;
    transition: all 0.5s ease;
}

a:visited {
    color: white;
}

.mystyle {
    color: red;
}

.img-posts {
    height: 400px;
    width: 300px;
    float: right;
    margin-left: 30px;
    border: 10px solid white;
}

.img-posts-large {
    height: 300px;
    width: 300px;
    float: right;
    margin-left: 30px;
    border: 10px solid white;
}

.img-about {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid white;
}

.header-wrapper {
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 300px;
    /* fix path later */
    background-image: url("header.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.soc-media {
    position: relative;
    font-size: 2rem;
    letter-spacing: 15px;
    margin-left: 10px;
    top: -260px;
    color: white;
}

.main-nav {
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 50px;
    padding-left: 70px;
    color: white;
    background-color: darkslategrey;
    border-bottom: 3px solid white;
}

.nav-items {
    padding-left: 20px;
}

.nav-items-no {
    padding-left: 20px;
    text-decoration: line-through;
    color: silver;
}

.card {
    margin: 30px auto;
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 60px;
    background-color: rgb(164, 206, 206);
    box-shadow: 5px 5px rgba(0, 0, 0, .45), 10px 10px 40px rgba(0, 0, 0, .20) inset;
}

.wrapper-card {
    display: flex;
    margin: 30px auto;
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 60px;
    background-color: rgb(164, 206, 206);
    box-shadow: 5px 5px rgba(0, 0, 0, .45), 10px 10px 40px rgba(0, 0, 0, .20) inset;
}

.wrapper-card-img {
    margin: 30px auto;
    width: 80%;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 60px;
    background-color: rgb(164, 206, 206);
    box-shadow: 5px 5px rgba(0, 0, 0, .45), 10px 10px 40px rgba(0, 0, 0, .20) inset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-img-flex {
    width: 25%;
    padding: 20px;
    justify-content: space-between;
    align-items: space-between;
}

.card-img {
    width: 85%;
    border: 5px solid white;
}

.wrapper-post {
    display: flex;
    flex-direction: column;
}

.about-txt {
    margin-left: 30px;
}

.comments {
    background-color: rgb(80, 139, 139);
    color: white;
    padding: 10px;
}

.footer-wrapper {
    height: 80px;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px;
    background-color: silver;
    text-align: center;
}

article {
    justify-content: center;
    justify-items: center;
    padding: 20px;
    width: 600px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, .5);
    border: 1px solid pink;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

button.theHeart {
    font-size: 1.6rem;
    border: 1 px solid black;
    border-radius: 50%;
    background-color: silver;
}

span {
    position: relative;
    top: 2px;
    margin: 0;
    padding: 0px;
}

.theDate {
    text-align: right;
}

.noLikes {
    position: relative;
    left: 4px;
}

textarea {
    font-size: 1.5rem;
    height: 80px;
    width: 400px;
    resize: none;
}

button.theSubmit {
    padding: 7px;
    font-size: 1.4rem;
    color: white;
    border: 1 px solid black;
    border-radius: 15px;
    background-color: darkslategrey;
}